body {
  font-family: "work sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}
nav {
  display: inline-block;
  padding: 12px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
}

.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
}

img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  background-color: grey;
  color: white;
  padding: 20px;
  border: #888;
  text-align: center;
}

h2 {
  background-color: gray;
  color: white;
  padding: 20px;
}

p {
  padding-left: 20px;
  margin-bottom: 30px;
  width: 300px;
  border-radius: 20%;
}

li {
  line-height: 1.6;
  font-weight: 300;
}
footer {
  font-family: "baskerville", sans-serif;
  font-weight: 300;
  padding-left: 20px;
  margin-bottom: 30px;
}
